<!-- Navigation -->
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" ui-sref="index"><i class="fa fa-money" aria-hidden="true"></i> <span
                class="sr-only">My Finances</span></a>
    </div>

    <!-- Top Menu Items -->
    <!--<ul class="nav navbar-right top-nav">-->
        <!--<li class="dropdown">-->
            <!--<a class="dropdown-toggle" data-toggle="dropdown" href="" aria-expanded="true">-->
                <!--<i class="fa fa-tasks fa-fw"></i> <i class="fa fa-caret-down"></i>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu dropdown-tasks">-->
                <!--<li>-->
                    <!--<a href="">-->
                        <!--<div>-->
                            <!--<p>-->
                                <!--<strong>Task 1</strong>-->
                                <!--<span class="pull-right text-muted">40% Complete</span>-->
                            <!--</p>-->

                            <!--<div class="progress progress-striped active">-->
                                <!--<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"-->
                                     <!--aria-valuemin="0" aria-valuemax="100" style="width: 40%">-->
                                    <!--<span class="sr-only">40% Complete (success)</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="divider"></li>-->
                <!--<li>-->
                    <!--<a href="">-->
                        <!--<div>-->
                            <!--<p>-->
                                <!--<strong>Task 2</strong>-->
                                <!--<span class="pull-right text-muted">20% Complete</span>-->
                            <!--</p>-->

                            <!--<div class="progress progress-striped active">-->
                                <!--<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20"-->
                                     <!--aria-valuemin="0" aria-valuemax="100" style="width: 20%">-->
                                    <!--<span class="sr-only">20% Complete</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="divider"></li>-->
                <!--<li>-->
                    <!--<a href="">-->
                        <!--<div>-->
                            <!--<p>-->
                                <!--<strong>Task 3</strong>-->
                                <!--<span class="pull-right text-muted">60% Complete</span>-->
                            <!--</p>-->

                            <!--<div class="progress progress-striped active">-->
                                <!--<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"-->
                                     <!--aria-valuemin="0" aria-valuemax="100" style="width: 60%">-->
                                    <!--<span class="sr-only">60% Complete (warning)</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="divider"></li>-->
                <!--<li>-->
                    <!--<a href="">-->
                        <!--<div>-->
                            <!--<p>-->
                                <!--<strong>Task 4</strong>-->
                                <!--<span class="pull-right text-muted">80% Complete</span>-->
                            <!--</p>-->

                            <!--<div class="progress progress-striped active">-->
                                <!--<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80"-->
                                     <!--aria-valuemin="0" aria-valuemax="100" style="width: 80%">-->
                                    <!--<span class="sr-only">80% Complete (danger)</span>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="divider"></li>-->
                <!--<li>-->
                    <!--<a class="text-center" href="setting-task.html">-->
                        <!--<strong>See All Tasks</strong>-->
                        <!--<i class="fa fa-angle-right"></i>-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
            <!--&lt;!&ndash; /.dropdown-tasks &ndash;&gt;-->
        <!--</li>-->
        <!--<li class="dropdown">-->
            <!--<a class="dropdown-toggle" data-toggle="dropdown" href="" aria-expanded="true">-->
                <!--<i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu dropdown-alerts">-->
                <!--<li>-->
                    <!--<a href="">-->
                        <!--<div>-->
                            <!--<i class="fa fa-comment fa-fw"></i> New Comment-->
                            <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="divider"></li>-->
                <!--<li>-->
                    <!--<a href="">-->
                        <!--<div>-->
                            <!--<i class="fa fa-twitter fa-fw"></i> 3 New Followers-->
                            <!--<span class="pull-right text-muted small">12 minutes ago</span>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="divider"></li>-->
                <!--<li>-->
                    <!--<a href="">-->
                        <!--<div>-->
                            <!--<i class="fa fa-envelope fa-fw"></i> Message Sent-->
                            <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="divider"></li>-->
                <!--<li>-->
                    <!--<a href="">-->
                        <!--<div>-->
                            <!--<i class="fa fa-tasks fa-fw"></i> New Task-->
                            <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="divider"></li>-->
                <!--<li>-->
                    <!--<a href="">-->
                        <!--<div>-->
                            <!--<i class="fa fa-upload fa-fw"></i> Server Rebooted-->
                            <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="divider"></li>-->
                <!--<li>-->
                    <!--<a class="text-center" href="setting-alert.html">-->
                        <!--<strong>See All Alerts</strong>-->
                        <!--<i class="fa fa-angle-right"></i>-->
                    <!--</a>-->
                <!--</li>-->
            <!--</ul>-->
            <!--&lt;!&ndash; /.dropdown-alerts &ndash;&gt;-->
        <!--</li>-->
        <!--<li class="dropdown">-->
            <!--<a href="" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Max Serebryanskiy-->
                <!--<b class="caret"></b></a>-->
            <!--<ul class="dropdown-menu">-->
                <!--<li><a href="setting-profile.html"><i class="fa fa-fw fa-user"></i> Profile</a></li>-->
                <!--<li><a href="setting.html"><i class="fa fa-fw fa-gear"></i> Settings</a></li>-->
                <!--<li class="divider"></li>-->
                <!--<li><a href=""><i class="fa fa-fw fa-power-off"></i> Log Out</a></li>-->
            <!--</ul>-->
        <!--</li>-->
    <!--</ul>-->

    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li><a ui-sref="dashboard">Dashboard</a></li>
            <li class="split-left">
                <a ui-sref="account.list">Accounts</a>
            </li>
            <li class="split-right hidden-xs">
                <a ui-sref="account.create"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </li>
            <li class="split-left">
                <a ui-sref="income.list">Incomes</a>
            </li>
            <li class="split-right hidden-xs">
                <a ui-sref="income.create"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </li>
            <li class="split-left">
                <a ui-sref="expense.list">Expenses</a>
            </li>
            <li class="split-right hidden-xs">
                <a ui-sref="expense.create"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </li>
            <li class="split-left">
                <a ui-sref="exchange.list">Exchanges</a>
            </li>
            <li class="split-right hidden-xs">
                <a ui-sref="exchange.create"><i class="fa fa-plus" aria-hidden="true"></i></a>
            </li>
            <!--<li>-->
                <!--<a href="javascript:;" data-toggle="collapse" data-target="#reports">Reports <i-->
                        <!--class="fa fa-fw fa-caret-down"></i></a>-->
                <!--<ul id="reports" class="collapse">-->
                    <!--<li><a href="report-balance.html">Balance</a></li>-->
                    <!--<li><a href="report-income.html">Incomes</a></li>-->
                    <!--<li><a href="report-expense.html">Expenses</a></li>-->
                <!--</ul>-->
            <!--</li>-->
        </ul>
    </div>
    <!-- /.navbar-collapse -->

</nav>