<div class="panel panel-default">
    <div class="panel-body">
        <a ui-sref="index" class="btn btn-default">Home</a>
        <a ui-sref="expense.list" class="btn btn-default">Expense List</a>
    </div>
</div>
<div id="create-expense">
    <h1>Create Expense</h1>

    <div class="alert alert-danger alert-dismissable"
         role="alert"
         ng-if="vm.errors"
         ng-repeat="error in vm.errors">
        {{error.message}}
    </div>

    <form name="saveExpense" ng-submit="vm.saveExpense()">
        <ng-include src="'/finance/expense/form.html'"></ng-include>

        <div class="panel panel-default">
            <div class="panel-body">
                <input type="submit" name="create" class="btn btn-primary" value="Create"/>
            </div>
        </div>
    </form>
</div>