<!--<div class="panel panel-default">-->
<!--<div class="panel-body">-->
<!--<a ui-sref="index" class="btn btn-default">Home</a>-->
<!--<a ui-sref="expense.create" class="btn btn-default">New Expense</a>-->
<!--</div>-->
<!--</div>-->

<div id="list-expense" class="content scaffold-list" role="main">
    <h1>Expense List</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Operations</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="expense in vm.expenseList"
            ng-click="vm.go('expense.show', {id: expense.id})">
            <td>{{expense.id}}</td>
            <td>
                <a class="label label-default"
                   ng-repeat="operation in expense.operations"
                   ui-sref="operation.show({id: operation.id})">
                    {{operation.toString()}}
                </a>
            </td>
            <td>{{expense.description}}</td>
        </tr>
        </tbody>
    </table>
</div>