<div id="list-expense" class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Expenses
                <small>list</small>
            </h1>

            <button type="button" class="btn btn-default" style="float: right" data-toggle="popover"
                    data-placement="left" title="Filters" data-html="true"
                    data-content="<form action='expense.html' class='filter'><div class='form-group'><label>Name</label><input='text' class='form-control'></div><button type='submit' class='btn btn-default'>Search</button></form>">
                <i class="fa fa-filter" aria-hidden="true"></i></button>

            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-file"></i> <a ui-sref="dashboard">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> Expenses
                </li>
            </ol>
            <!--/.breadcrumb-->

        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>To</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Closed</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="expense in vm.expenseList" ng-click="vm.go('expense.show', {id: expense.id})">
                        <td>{{expense.date | date : 'yyyy-MM-dd'}}</td>
                        <td>{{expense.company}}</td>
                        <td>{{expense.amount}}</td>
                        <td>
                            {{expense.description}}
                            -
                            {{expense.type}}
                        </td>
                        <td><i class="fa"
                               ng-class="{'fa-lock': expense.closeDate != null, 'fa-unlock':  expense.closeDate == null}"
                               aria-hidden="true"></i></td>
                    </tr>
                    <!--<tr ng-click="vm.go('expense.show', {id: ''})">-->
                    <!--<td>2016-09-01</td>-->
                    <!--<td>Company #1</td>-->
                    <!--<td>100.00</td>-->
                    <!--<td>expense</td>-->
                    <!--<td><i class="fa fa-lock" aria-hidden="true"></i></td>-->
                    <!--</tr>-->
                    <!--<tr ng-click="vm.go('expense.show', {id: ''})">-->
                    <!--<td>2016-09-02</td>-->
                    <!--<td>Company #2</td>-->
                    <!--<td>200.00</td>-->
                    <!--<td>expense</td>-->
                    <!--<td><i class="fa fa-lock" aria-hidden="true"></i></td>-->
                    <!--</tr>-->
                    <!--<tr ng-click="vm.go('expense.show', {id: ''})">-->
                    <!--<td>2016-09-03</td>-->
                    <!--<td>Company #3</td>-->
                    <!--<td>300.00</td>-->
                    <!--<td>expense</td>-->
                    <!--<td><i class="fa fa-lock" aria-hidden="true"></i></td>-->
                    <!--</tr>-->
                    <!--<tr ng-click="vm.go('expense.show', {id: ''})">-->
                    <!--<td>2016-09-04</td>-->
                    <!--<td>Company #4</td>-->
                    <!--<td>400.00</td>-->
                    <!--<td>expense</td>-->
                    <!--<td><i class="fa fa-unlock" aria-hidden="true"></i></td>-->
                    <!--</tr>-->
                    <!--<tr ng-click="vm.go('expense.show', {id: ''})">-->
                    <!--<td>2016-09-05</td>-->
                    <!--<td>Company #5</td>-->
                    <!--<td>500.00</td>-->
                    <!--<td>expense</td>-->
                    <!--<td><i class="fa fa-unlock" aria-hidden="true"></i></td>-->
                    <!--</tr>-->
                    <!--<tr ng-click="vm.go('expense.show', {id: ''})">-->
                    <!--<td>2016-09-06</td>-->
                    <!--<td>Company #6</td>-->
                    <!--<td>600.00</td>-->
                    <!--<td>expense</td>-->
                    <!--<td><i class="fa fa-unlock" aria-hidden="true"></i></td>-->
                    <!--</tr>-->
                    <!--<tr ng-click="vm.go('expense.show', {id: ''})">-->
                    <!--<td>2016-09-07</td>-->
                    <!--<td>Company #7</td>-->
                    <!--<td>700.00</td>-->
                    <!--<td>expense</td>-->
                    <!--<td><i class="fa fa-unlock" aria-hidden="true"></i></td>-->
                    <!--</tr>-->
                    <!--<tr ng-click="vm.go('expense.show', {id: ''})">-->
                    <!--<td>2016-09-08</td>-->
                    <!--<td>Company #8</td>-->
                    <!--<td>800.00</td>-->
                    <!--<td>expense</td>-->
                    <!--<td><i class="fa fa-unlock" aria-hidden="true"></i></td>-->
                    <!--</tr>-->
                    <!--<tr ng-click="vm.go('expense.show', {id: ''})">-->
                    <!--<td>2016-09-09</td>-->
                    <!--<td>Company #9</td>-->
                    <!--<td>900.00</td>-->
                    <!--<td>expense</td>-->
                    <!--<td><i class="fa fa-unlock" aria-hidden="true"></i></td>-->
                    <!--</tr>-->
                    <!--<tr ng-click="vm.go('expense.show', {id: ''})">-->
                    <!--<td>2016-09-10</td>-->
                    <!--<td>Company #10</td>-->
                    <!--<td>1000.00</td>-->
                    <!--<td>expense</td>-->
                    <!--<td><i class="fa fa-unlock" aria-hidden="true"></i></td>-->
                    <!--</tr>-->
                    <!--<tr ng-click="vm.go('expense.show', {id: ''})">-->
                    <!--<td>2016-09-11</td>-->
                    <!--<td>Company #11</td>-->
                    <!--<td>1100.00</td>-->
                    <!--<td>expense</td>-->
                    <!--<td><i class="fa fa-unlock" aria-hidden="true"></i></td>-->
                    <!--</tr>-->
                    <!--<tr ng-click="vm.go('expense.show', {id: ''})">-->
                    <!--<td>2016-09-12</td>-->
                    <!--<td>Company #12</td>-->
                    <!--<td>1200.00</td>-->
                    <!--<td>expense</td>-->
                    <!--<td><i class="fa fa-unlock" aria-hidden="true"></i></td>-->
                    <!--</tr>-->
                    <!--<tr ng-click="vm.go('expense.show', {id: ''})">-->
                    <!--<td>2016-09-13</td>-->
                    <!--<td>Company #13</td>-->
                    <!--<td>1300.00</td>-->
                    <!--<td>expense</td>-->
                    <!--<td><i class="fa fa-unlock" aria-hidden="true"></i></td>-->
                    <!--</tr>-->
                    <!--<tr ng-click="vm.go('expense.show', {id: ''})">-->
                    <!--<td>2016-09-14</td>-->
                    <!--<td>Company #14</td>-->
                    <!--<td>1400.00</td>-->
                    <!--<td>expense</td>-->
                    <!--<td><i class="fa fa-unlock" aria-hidden="true"></i></td>-->
                    <!--</tr>-->
                    <!--<tr ng-click="vm.go('expense.show', {id: ''})">-->
                    <!--<td>2016-09-15</td>-->
                    <!--<td>Company #15</td>-->
                    <!--<td>1500.00</td>-->
                    <!--<td>expense</td>-->
                    <!--<td><i class="fa fa-unlock" aria-hidden="true"></i></td>-->
                    <!--</tr>-->
                    <!--<tr ng-click="vm.go('expense.show', {id: ''})">-->
                    <!--<td>2016-09-16</td>-->
                    <!--<td>Company #16</td>-->
                    <!--<td>1600.00</td>-->
                    <!--<td>expense</td>-->
                    <!--<td><i class="fa fa-unlock" aria-hidden="true"></i></td>-->
                    <!--</tr>-->
                    <!--<tr ng-click="vm.go('expense.show', {id: ''})">-->
                    <!--<td>2016-09-17</td>-->
                    <!--<td>Company #17</td>-->
                    <!--<td>1700.00</td>-->
                    <!--<td>expense</td>-->
                    <!--<td><i class="fa fa-unlock" aria-hidden="true"></i></td>-->
                    <!--</tr>-->
                    <!--<tr ng-click="vm.go('expense.show', {id: ''})">-->
                    <!--<td>2016-09-18</td>-->
                    <!--<td>Company #18</td>-->
                    <!--<td>1800.00</td>-->
                    <!--<td>expense</td>-->
                    <!--<td><i class="fa fa-unlock" aria-hidden="true"></i></td>-->
                    <!--</tr>-->
                    <!--<tr ng-click="vm.go('expense.show', {id: ''})">-->
                    <!--<td>2016-09-19</td>-->
                    <!--<td>Company #19</td>-->
                    <!--<td>1900.00</td>-->
                    <!--<td>expense</td>-->
                    <!--<td><i class="fa fa-unlock" aria-hidden="true"></i></td>-->
                    <!--</tr>-->
                    <!--<tr ng-click="vm.go('expense.show', {id: ''})">-->
                    <!--<td>2016-09-20</td>-->
                    <!--<td>Company #20</td>-->
                    <!--<td>2000.00</td>-->
                    <!--<td>expense</td>-->
                    <!--<td><i class="fa fa-unlock" aria-hidden="true"></i></td>-->
                    <!--</tr>-->
                    </tbody>
                </table>
            </div>
            <!--/.table-responsive-->

        </div>
        <!-- /.col-lg-12 -->

    </div>
    <!-- /.row -->
</div>
<!-- /#list-expense -->
