<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a ui-sref="income.list" class="list">Income List</a></li>
    </ul>
</div>
<div id="create-income" class="content scaffold-create" role="main">
    <h1>Create Income</h1>
    <ul class="errors" role="alert" ng-if="vm.errors">
        <li ng-repeat="error in vm.errors">{{error.message}}</li>
    </ul>

    <form name="saveIncome" ng-submit="vm.saveIncome()">
        <fieldset class="form">
            <ng-include src="'/finance/income/form.html'"></ng-include>
        </fieldset>
        <fieldset class="buttons">
            <input type="submit" name="create" class="save" value="Create"/>
        </fieldset>
    </form>
</div>