<div class="panel panel-default">
    <div class="panel-body">
        <a ui-sref="index" class="btn btn-default">Home</a>
        <a ui-sref="income.list" class="btn btn-default">Income List</a>
        <a ui-sref="income.create" class="btn btn-default">New Income</a>
    </div>
</div>

<div id="edit-income">
    <h1>Edit Income</h1>

    <div class="alert alert-danger alert-dismissable"
         role="alert"
         ng-if="vm.errors"
         ng-repeat="error in vm.errors">
        {{error.message}}
    </div>

    <form name="updateIncome" ng-submit="vm.updateIncome()">
        <ng-include src="'/finance/income/form.html'"></ng-include>

        <div class="panel panel-default">
            <div class="panel-body">
                <input type="submit" name="update" class="btn btn-primary" value="Update"/>
            </div>
        </div>
    </form>
</div>