<fieldset>
    <div class="form-group">
        <label for="operations">Operations</label>
        <select class="form-control" name="operations" id="operations" ng-model="vm.income.operations"
                ng-options="operation.id as operation for operation in vm.operationList track by operation.id"
                multiple=""></select>
    </div>
    <div class="form-group required">
        <label for="description">Description
            <span class="required-indicator">*</span>
        </label>
        <input class="form-control" required="" name="description" id="description" ng-model="vm.income.description"
               type="text"/>
    </div>
</fieldset>