<fieldset class="row">
    <div class="form-group col-md-6">
        <label for="date">Date</label>
        <input id="date" name="date" type="text" class="form-control" ng-model="vm.income.date"/>
    </div>
    <!-- /.form-group.col-md-6 -->

    <div class="form-group col-md-6">
        <label for="amount">Amount</label>
        <input id="amount" name="amount" type="text" class="form-control" ng-model="vm.income.amount"/>
    </div>
    <!-- /.form-group.col-md-6 -->

    <div class="form-group col-md-12">
        <label for="from">From</label>
        <input id="from" name="from" type="text" class="form-control" ng-model="vm.income.from"/>
    </div>
    <!-- /.form-group.col-md-12 -->

    <div class="form-group col-md-12">
        <label for="description">Description</label>
        <input id="description" name="description" type="text" class="form-control" ng-model="vm.income.description"/>
    </div>
    <!-- /.form-group.col-md-12 -->

    <div class="col-md-12">
        <h3>
            Details
            <a href="javascript:;" class="btn btn-default btn-sm" style="float: right">
                <i class="fa fa-plus" aria-hidden="true"></i> Add
            </a>
        </h3>

        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                <tr>
                    <th>Item</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <!--<tr ng-repeat="incomeRow in vm.income.rows">-->
                <!--<td>{{row.item}}</td>-->
                <!--<td>{{row.amount}}</td>-->
                <!--</tr>-->
                <tr>
                    <td>Item #1</td>
                    <td>10.00</td>
                </tr>
                <tr>
                    <td>Item #2</td>
                    <td>20.00</td>
                </tr>
                <tr>
                    <td>Item #3</td>
                    <td>30.00</td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->

    </div>
    <!-- /.col-md-12 -->

</fieldset>
<!-- /.row -->
