<div class="panel panel-default">
    <div class="panel-body">
        <a ui-sref="index" class="btn btn-default">Home</a>
        <a ui-sref="balance.list" class="btn btn-default">Balance List</a>
        <a ui-sref="balance.create" class="btn btn-default">New Balance</a>
    </div>
</div>

<div id="edit-balance">
    <h1>Edit Balance</h1>

    <div class="alert alert-danger alert-dismissable"
         role="alert"
         ng-if="vm.errors"
         ng-repeat="error in vm.errors">
        {{error.message}}
    </div>

    <form name="updateBalance" ng-submit="vm.updateBalance()">
        <ng-include src="'/finance/balance/form.html'"></ng-include>

        <div class="panel panel-default">
            <div class="panel-body">
                <input type="submit" name="update" class="btn btn-primary" value="Update"/>
            </div>
        </div>
    </form>
</div>