<div class="panel panel-default">
    <div class="panel-body">
        <a ui-sref="index" class="btn btn-default">Home</a>
        <a ui-sref="balance.create" class="btn btn-default">New Balance</a>
    </div>
</div>

<div id="list-balance" class="content scaffold-list" role="main">
    <h1>Balance List</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Amount</th>
            <th>Description</th>
            <th>Account</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="balance in vm.balanceList" ng-click="vm.go('balance.show', {id: balance.id})">
            <td>{{balance.id}}</td>
            <td>{{balance.amount}}</td>
            <td>{{balance.description}}</td>
            <td>
                <a class="label label-default" ui-sref="account.show({id: balance.account.id})">
                    {{balance.account.toString()}}
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>