<div class="panel panel-default">
    <div class="panel-body">
        <a ui-sref="index" class="btn btn-default">Home</a>
        <a ui-sref="account.list" class="btn btn-default">Account List</a>
    </div>
</div>

<div id="create-account">
    <h1>Create Account</h1>

    <div class="alert alert-danger alert-dismissable"
         role="alert"
         ng-if="vm.errors"
         ng-repeat="error in vm.errors">
        {{error.message}}
    </div>

    <form name="saveAccount" ng-submit="vm.saveAccount()">
        <ng-include src="'/finance/account/form.html'"></ng-include>

        <div class="panel panel-default">
            <div class="panel-body">
                <input type="submit" name="create" class="btn btn-primary" value="Create"/>
            </div>
        </div>
    </form>
</div>