<div class="panel panel-default">
    <div class="panel-body">
        <a ui-sref="index" class="btn btn-default">Home</a>
        <a ui-sref="account.create" class="btn btn-default">New Account</a>
    </div>
</div>

<div id="list-account">
    <h1>Account List</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="account in vm.accountList"
            ng-click="vm.go('account.show', {id: account.id})">
            <td>{{account.id}}</td>
            <td>{{account.name}}</td>
        </tr>
        </tbody>
    </table>
</div>