<div class="panel panel-default">
    <div class="panel-body">
        <a ui-sref="index" class="btn btn-default">Home</a>
        <a ui-sref="account.list" class="btn btn-default">Account List</a>
        <a ui-sref="account.create" class="btn btn-default">New Account</a>
    </div>
</div>

<div id="show-account">
    <h1>Show Account</h1>

    <dl class="dl-horizontal account">
        <dt>Name</dt>
        <dd>{{vm.account.name}}</dd>
    </dl>

    <form ng-submit="vm.delete()">
        <fieldset>

        </fieldset>
        <div class="panel panel-default">
            <div class="panel-body">
                <a class="edit btn btn-default" ui-sref="account.edit({id: vm.account.id})">Edit</a>
                <input class="delete btn btn-danger" type="submit" value="Delete"
                       onclick="return confirm('Are you sure?');"/>
            </div>
        </div>
    </form>
</div>