<div class="panel panel-default">
    <div class="panel-body">
        <a ui-sref="index" class="btn btn-default">Home</a>
        <a ui-sref="operation.list" class="btn btn-default">Operation List</a>
    </div>
</div>
<div id="create-operation">
    <h1>Create Operation</h1>

    <div class="alert alert-danger alert-dismissable"
         role="alert"
         ng-if="vm.errors"
         ng-repeat="error in vm.errors">
        {{error.message}}
    </div>

    <form name="saveOperation" ng-submit="vm.saveOperation()">
        <ng-include src="'/finance/operation/form.html'"></ng-include>

        <div class="panel panel-default">
            <div class="panel-body">
                <input type="submit" name="create" class="btn btn-primary" value="Create"/>
            </div>
        </div>
    </form>
</div>