<fieldset>
    <div class="form-group">
        <label for="credit">Credit</label>
        <select class="form-control" name="credit" id="credit" ng-model="vm.operation.credit"
                ng-options="account for account in vm.accountList track by account.id"></select>
    </div>
    <div class="form-group required">
        <label for="description">Description
            <span class="required-indicator">*</span>
        </label>
        <input class="form-control" required="" name="description" id="description" ng-model="vm.operation.description"
               type="text"/>
    </div>
    <div class="form-group required">
        <label for="type">Type
            <span class="required-indicator">*</span>
        </label>
        <select class="form-control" required="" name="type" id="type" ng-model="vm.operation.type"
                ng-options="operationType for operationType in vm.operationTypeList track by operationType.id"></select>
    </div>
    <div class="form-group required">
        <label for="debit">Debit
            <span class="required-indicator">*</span>
        </label>
        <select class="form-control" required="" name="debit" id="debit" ng-model="vm.operation.debit"
                ng-options="account for account in vm.accountList track by account.id"></select>
    </div>
    <div class="form-group required">
        <label for="decimal">Decimal
            <span class="required-indicator">*</span>
        </label>
        <input class="form-control" required="" name="decimal" id="decimal" ng-model="vm.operation.decimal"
               type="number" step="any"/>
    </div>
</fieldset>