<div class="panel panel-default">
    <div class="panel-body">
        <a ui-sref="index" class="btn btn-default">Home</a>
        <a ui-sref="operation.create" class="btn btn-default">New Operation</a>
    </div>
</div>

<div id="list-operation">
    <h1>Operation List</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Credit</th>
            <th>Description</th>
            <th>Type</th>
            <th>Debit</th>
            <th>Decimal</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="operation in vm.operationList"
            ng-click="vm.go('operation.show', {id: operation.id})">
            <td>{{operation.id}}</td>
            <td>
                <a class="label label-default" ui-sref="account.show({id: operation.credit.id})">
                    {{operation.credit.toString()}}
                </a>
            </td>
            <td>{{operation.description}}</td>
            <td>
                <a class="label label-default" ui-sref="operationType.show({id: operation.type.id})">
                    {{operation.type.toString()}}
                </a>
            </td>
            <td>
                <a class="label label-default" ui-sref="account.show({id: operation.debit.id})">
                    {{operation.debit.toString()}}
                </a>
            </td>
            <td>{{operation.decimal}}</td>
        </tr>
        </tbody>
    </table>
</div>