<fieldset class="row">
    <div class="form-group col-md-6">
        <label for="date">Date</label>
        <input id="date" name="date" type="text" class="form-control" ng-model="vm.exchange.date"/>
    </div>
    <div class="form-group col-md-6">
        <label for="amount">Amount</label>
        <input id="amount" name="amount" type="text" class="form-control" ng-model="vm.exchange.amount"/>
    </div>
    <div class="form-group col-md-6">
        <label for="from">From</label>
        <input id="from" name="from" type="text" class="form-control" ng-model="vm.exchange.from"/>
    </div>
    <div class="form-group col-md-6">
        <label for="to">To</label>
        <input id="to" name="to" type="text" class="form-control" ng-model="vm.exchange.to"/>
    </div>
    <div class="form-group col-md-12">
        <label for="description">Description</label>
        <input id="description" name="description" type="text" class="form-control" ng-model="vm.exchange.description"/>
    </div>
</fieldset>
<!-- /.row -->
