<div id="list-exchange" class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Exchanges
                <small>list</small>
            </h1>

            <button type="button" class="btn btn-default" style="float: right" data-toggle="popover"
                    data-placement="left" title="Filters" data-html="true"
                    data-content="<form action='exchange.html' class='filter'><div class='form-group'><label>Name</label><input='text' class='form-control'></div><button type='submit' class='btn btn-default'>Search</button></form>">
                <i class="fa fa-filter" aria-hidden="true"></i></button>

            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-file"></i> <a ui-sref="dashboard">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> Exchanges
                </li>
            </ol>
            <!--/.breadcrumb-->

        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Amount</th>
                        <th>Description</th>
                        <th>Closed</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!--<tr ng-repeat="exchange in vm.exchangeList"-->
                    <!--ng-click="vm.go('exchange.show', {id: exchange.id})">-->
                    <!--<td>{{exchange.date}}</td>-->
                    <!--<td>{{exchange.from.name}}</td>-->
                    <!--<td>{{exchange.to.name}}</td>-->
                    <!--<td>{{exchange.amount}}</td>-->
                    <!--<td>{{exchange.description}}</td>-->
                    <!--<td><i class="fa" ng-class="{'fa-lock': exchange.closeDate != null, 'fa-unlock':  exchange.closeDate == null}" aria-hidden="true"></i></td>-->
                    <!--</tr>-->
                    <tr ng-click="vm.go('exchange.show', {id: ''})">
                        <td>2016-09-01</td>
                        <td>Account #1</td>
                        <td>Account #11</td>
                        <td>100.00</td>
                        <td>exchange</td>
                        <td><i class="fa fa-lock" aria-hidden="true"></i></td>
                    </tr>
                    <tr ng-click="vm.go('exchange.show', {id: ''})">
                        <td>2016-09-02</td>
                        <td>Account #2</td>
                        <td>Account #12</td>
                        <td>200.00</td>
                        <td>exchange</td>
                        <td><i class="fa fa-lock" aria-hidden="true"></i></td>
                    </tr>
                    <tr ng-click="vm.go('exchange.show', {id: ''})">
                        <td>2016-09-03</td>
                        <td>Account #3</td>
                        <td>Account #13</td>
                        <td>300.00</td>
                        <td>exchange</td>
                        <td><i class="fa fa-lock" aria-hidden="true"></i></td>
                    </tr>
                    <tr ng-click="vm.go('exchange.show', {id: ''})">
                        <td>2016-09-04</td>
                        <td>Account #4</td>
                        <td>Account #14</td>
                        <td>400.00</td>
                        <td>exchange</td>
                        <td><i class="fa fa-unlock" aria-hidden="true"></i></td>
                    </tr>
                    <tr ng-click="vm.go('exchange.show', {id: ''})">
                        <td>2016-09-05</td>
                        <td>Account #5</td>
                        <td>Account #15</td>
                        <td>500.00</td>
                        <td>exchange</td>
                        <td><i class="fa fa-unlock" aria-hidden="true"></i></td>
                    </tr>
                    <tr ng-click="vm.go('exchange.show', {id: ''})">
                        <td>2016-09-06</td>
                        <td>Account #6</td>
                        <td>Account #16</td>
                        <td>600.00</td>
                        <td>exchange</td>
                        <td><i class="fa fa-unlock" aria-hidden="true"></i></td>
                    </tr>
                    <tr ng-click="vm.go('exchange.show', {id: ''})">
                        <td>2016-09-07</td>
                        <td>Account #7</td>
                        <td>Account #17</td>
                        <td>700.00</td>
                        <td>exchange</td>
                        <td><i class="fa fa-unlock" aria-hidden="true"></i></td>
                    </tr>
                    <tr ng-click="vm.go('exchange.show', {id: ''})">
                        <td>2016-09-08</td>
                        <td>Account #8</td>
                        <td>Account #18</td>
                        <td>800.00</td>
                        <td>exchange</td>
                        <td><i class="fa fa-unlock" aria-hidden="true"></i></td>
                    </tr>
                    <tr ng-click="vm.go('exchange.show', {id: ''})">
                        <td>2016-09-09</td>
                        <td>Account #9</td>
                        <td>Account #19</td>
                        <td>900.00</td>
                        <td>exchange</td>
                        <td><i class="fa fa-unlock" aria-hidden="true"></i></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <!--/.table-responsive-->

        </div>
        <!-- /.col-lg-12 -->

    </div>
    <!-- /.row -->
</div>
<!-- /#list-exchange -->
