<div class="panel panel-default">
    <div class="panel-body">
        <a ui-sref="index" class="btn btn-default">Home</a>
        <a ui-sref="exchange.list" class="btn btn-default">Exchange List</a>
        <a ui-sref="exchange.create" class="btn btn-default">New Exchange</a>
    </div>
</div>

<div id="show-exchange" class="content scaffold-show" role="main">
    <h1>Show Exchange</h1>

    <dl class="dl-horizontal">
        <dt>Operations</dt>
        <dd>
            <a class="label label-default"
               ng-repeat="operation in vm.exchange.operations"
               ui-sref="operation.show({id: operation.id})">
                {{operation.toString()}}
            </a>
        </dd>
        <dt>Description</dt>
        <dd>{{vm.exchange.description}}</dd>
    </dl>

    <form ng-submit="vm.delete()">
        <div class="panel panel-default">
            <div class="panel-body">
                <a class="edit btn btn-default"
                   ui-sref="exchange.edit({id: vm.exchange.id})">Edit</a>
                <input class="delete btn btn-danger" type="submit" value="Delete"
                       onclick="return confirm('Are you sure?');"/>
            </div>
        </div>
    </form>
</div>