<div class="panel panel-default">
    <div class="panel-body">
        <a ui-sref="index" class="btn btn-default">Home</a>
        <a ui-sref="operationType.list" class="btn btn-default">OperationType List</a>
        <a ui-sref="operationType.create" class="btn btn-default">New OperationType</a>
    </div>
</div>

<div id="edit-operationType">
    <h1>Edit OperationType</h1>

    <div class="alert alert-danger alert-dismissable"
         role="alert"
         ng-if="vm.errors"
         ng-repeat="error in vm.errors">
        {{error.message}}
    </div>

    <form name="updateOperationType" ng-submit="vm.updateOperationType()">
        <ng-include src="'/finance/operationType/form.html'"></ng-include>

        <div class="panel panel-default">
            <div class="panel-body">
                <input type="submit" name="update" class="btn btn-primary" value="Update"/>
            </div>
        </div>
    </form>
</div>