<div class="panel panel-default">
    <div class="panel-body">
        <a ui-sref="index" class="btn btn-default">Home</a>
        <a ui-sref="operationType.create" class="btn btn-default">New OperationType</a>
    </div>
</div>

<div id="list-operationType">
    <h1>OperationType List</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="operationType in vm.operationTypeList"
            ng-click="vm.go('operationType.show', {id: operationType.id})">
            <td>{{operationType.id}}</td>
            <td>{{operationType.name}}</td>
        </tr>
        </tbody>
    </table>
</div>