<div class="panel panel-default">
    <div class="panel-body">
        <a ui-sref="index" class="btn btn-default">Home</a>
        <a ui-sref="operationType.list" class="btn btn-default">OperationType List</a>
        <a ui-sref="operationType.create" class="btn btn-default">New OperationType</a>
    </div>
</div>

<div id="show-part" class="content scaffold-show" role="main">
    <h1>Show OperationType</h1>

    <dl class="dl-horizontal">
        <dt>Name</dt>
        <dd>{{vm.operationType.name}}</dd>
    </dl>

    <form ng-submit="vm.delete()">
        <div class="panel panel-default">
            <div class="panel-body">
                <a class="edit btn btn-default"
                   ui-sref="operationType.edit({id: vm.operationType.id})">Edit</a>
                <input class="delete btn btn-danger" type="submit" value="Delete"
                       onclick="return confirm('Are you sure?');"/>
            </div>
        </div>
    </form>
</div>