<div id="dashboard" class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <div class="jumbotron">
                <!--<h1>My Finances</h1>-->

                <p>This is a template for a simple marketing or informational website. It includes a large
                    callout called a jumbotron and three supporting pieces of content. Use it as a starting
                    point to create something more unique.</p>

                <p><a href="#" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a>
                </p>
            </div>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container-fluid -->