<div id="controllers">
    <h1>
        Available Controllers:
    </h1>
    <div>
        <div class="col-md-6 ">
            <a ng-repeat-start="c in indexCtrl.applicationData.controllers | orderBy:'name'"
               ng-if="!indexCtrl.stateExists(c.logicalPropertyName+'.list')"
               ng-href="{{indexCtrl.contextPath}}/{{c.logicalPropertyName}}"
               class="btn btn-default btn-block">
                {{c.name}}
            </a>
            <a ng-repeat-end ng-if="indexCtrl.stateExists(c.logicalPropertyName+'.list')"
               ui-sref="{{c.logicalPropertyName}}.list"
               class="btn btn-default btn-block">
                {{c.name}}
            </a>
        </div>
    </div>
</div>
